
.HomePage {
  text-align: center; }
  .HomePage h1 {
    margin: 20px; }
  .HomePage ul li {
    font-size: 30px; }

html, body, #root {
  height: 100%; }

body, p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.absolute-center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#root > section {
  height: 100%; }
  #root > section .sidebar {
    background-color: #f8ca00;
    width: 180px;
    height: 100%;
    position: fixed; }
  #root > section main {
    margin-left: 200px; }

