// CSS float 介绍
// http://www.cnblogs.com/iyangyuan/archive/2013/03/27/2983813.html
// http://www.cnblogs.com/langjt/p/4281477.html

.float {
  color: gray;

  .example1 {
    border: 1px dashed forestgreen;
    margin-bottom: 30px;
    .div1 {
      background-color: aquamarine;
      width: 200px;
      height: 50px;
    }
    .div2 {
      background-color: blueviolet;
      width: 150px;
      height: 150px;
      float: right;
    }
    .div3 {
      background-color: chocolate;
      width: 250px;
      height: 50px;
    }
    .div4 {
      background-color: yellow;
      width: 450px;
      height: 50px;
    }
  }


  .play {
    display: none;
    .div1 {
      background-color: aquamarine;
      width: 200px;
      height: 50px;
    }
    .div2 {
      background-color: blueviolet;
      width: 150px;
      height: 50px;
      float: left;
    }
    .div3 {
      background-color: chocolate;
      width: 250px;
      height: 50px;
      float: left;
    }
    .div4 {
      background-color: yellowgreen;
      width: 450px;
      height: 50px;
      float: left;
    }
    .div5 {
      background-color: red;
      width: 850px;
      height: 50px;
    }
  }

  .clearfix {
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }

  .float2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid saddlebrown;

    .surround {
      img {
        float: left;
      }
    }
  }

  .example {
    border: 1px solid fuchsia;
    width: 200px;
    margin-bottom: 50px;
    .father {
      img {
        float: left;
      }
    }
    .animal {
      &::first-line {
        background: red;
        color: white;
      }
    }
  }

  .w3c-example {
    border: 1px solid #ccc;
    h2 {
      word-break: break-all;
    }
    div {
      width: 100px;
      height: 100px;
      border: 1px dashed #fcc;
      &:nth-child(1) {
        float: left;
        color: red;
      }
      &:nth-child(2) {
        // float: left;
      }
    }
  }

  .w3c-example2 {
    border: 1px solid #ccc;
    h2 {
      word-break: break-all;
    }
    div {
      width: 100px;
      height: 100px;
      border: 1px dashed #fcc;
      float: left;
      background: antiquewhite;
    }
    p {
      margin: 10px 0 0 0;
      padding: 10px;
      background: #ccc;
      &:last-child {
        margin-top: 50px;
        clear: both;
      }
    }
  }

  .w3c-example3 {
    margin-top: 20px;
    border: 1px solid #ccc;
    .news {
      border: 1px dashed black;
      background-color: gray;
      color: white;
      img {
        float: left;
      }
      p {
        float: right;
      }
      .clear {
        // clear: both; // 引入无意义的dom,最好不用这种方式
      }
    }
    .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

  }
}